<div class="row">
  <div class="col-lg-8">
    <div class="card">
      <div class="card-header">
        Options
      </div>
      <div class="card-body">
        <form [formGroup]="fg">
          <div class="form-group">
            <div class="form-check form-check-inline">
              <input
                [attr.id]="id + 'animate'"
                class="form-check-input"
                type="checkbox"
                formControlName="animate"
                [value]="true">
              <label class="form-check-label" [attr.for]="id + 'animate'">animate</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                [attr.id]="id + 'centered'"
                class="form-check-input"
                type="checkbox"
                formControlName="centered"
                [value]="true">
              <label class="form-check-label" [attr.for]="id + 'centered'">centered</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                [attr.id]="id + 'keyboard'"
                class="form-check-input"
                type="checkbox"
                formControlName="keyboard"
                [value]="true">
              <label class="form-check-label" [attr.for]="id + 'keyboard'">keyboard</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                [attr.id]="id + 'focus'"
                class="form-check-input"
                type="checkbox"
                formControlName="focus"
                [value]="true">
              <label class="form-check-label" [attr.for]="id + 'focus'">focus</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                [attr.id]="id + 'dismissOnRouteChange'"
                class="form-check-input"
                type="checkbox"
                formControlName="dismissOnRouteChange"
                [value]="true">
              <label class="form-check-label" [attr.for]="id + 'dismissOnRouteChange'">dismissOnRouteChange</label>
            </div>
          </div>
          <div class="form-group">
            <small>Size:</small>
            <br>
            <div class="form-check form-check-inline">
              <input
                [attr.id]="id + 'size-md'"
                class="form-check-input"
                type="radio"
                formControlName="size"
                [value]="null">
              <label class="form-check-label" [attr.for]="id + 'size-md'">null (default size)</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                [attr.id]="id + 'size-lg'"
                class="form-check-input"
                type="radio"
                formControlName="size"
                [value]="'lg'">
              <label class="form-check-label" [attr.for]="id + 'size-lg'">lg</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                [attr.id]="id + 'size-sm'"
                class="form-check-input"
                type="radio"
                formControlName="size"
                [value]="'sm'">
              <label class="form-check-label" [attr.for]="id + 'size-sm'">sm</label>
            </div>
          </div>
          <div class="form-group">
            <small>Backdrop:</small>
            <br>
            <div class="form-check form-check-inline">
              <input
                [attr.id]="id + 'backdrop-true'"
                class="form-check-input"
                type="radio"
                formControlName="backdrop"
                [value]="true">
              <label class="form-check-label" [attr.for]="id + 'backdrop-true'">true</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                [attr.id]="id + 'backdrop-static'"
                class="form-check-input"
                type="radio"
                formControlName="backdrop"
                [value]="'static'">
              <label class="form-check-label" [attr.for]="id + 'backdrop-static'">static</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                [attr.id]="id + 'backdrop-false'"
                class="form-check-input"
                type="radio"
                formControlName="backdrop"
                [value]="false">
              <label class="form-check-label" [attr.for]="id + 'backdrop-false'">false</label>
            </div>

          </div>

        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <button type="button" class="btn btn-primary btn-lg" (click)="openModal()">
      Open Modal
    </button>
  </div>
</div>


<ng-template #modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">My Demo Modal</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Hey! Here's some modal content.</p>
      <p *ngIf="fg.get('dismissOnRouteChange').value">
        You have set <code>dismissOnRouteChange</code> to true.
        <a routerLink="/other">Click here</a> to trigger a route change.
        The modal will disappear.
      </p>
      <p *ngIf="!fg.get('dismissOnRouteChange').value">
        You have set <code>dismissOnRouteChange</code> to false.
        <a routerLink="/other">Click here</a> to trigger a route change.
        The modal will <strong>not</strong> disappear.
      </p>
    </div>
    <div class="modal-footer">

      <button type="button" class="btn btn-primary"
        data-dismiss="modal">Close Modal</button>
    </div>
</div>
</ng-template>
