@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
section {
  margin-top: 56px;
  border-left: 5px solid transparent;
  transition: all .3s;
  padding-left: $spacer;
  margin-bottom: $spacer;
  h2 {

  }
  &.active-fragment {
    border-left: 5px solid $warning;
  }
}
