

<div class="container">
  <h1 class="display-4 my-4">nz-bs-modal</h1>
  <hr>
  <h2>Minimal Demo</h2>
  <app-minimal-demo></app-minimal-demo>
  <p>
    Source code:
    <a href="https://github.com/nowzoo/nz-bs-modal/blob/master/src/app/minimal-demo/minimal-demo.component.ts">Typescript</a>
    |
    <a href="https://github.com/nowzoo/nz-bs-modal/blob/master/src/app/minimal-demo/minimal-demo.component.html">HTML</a>
  </p>

  <h2>Closing Modals Programmatically</h2>
  <app-form-demo></app-form-demo>
  <p>
    Source code:
    <a href="https://github.com/nowzoo/nz-bs-modal/blob/master/src/app/form-demo/form-demo.component.ts">Typescript</a>
    |
    <a href="https://github.com/nowzoo/nz-bs-modal/blob/master/src/app/form-demo/form-demo.component.html">HTML</a>
  </p>

  <h2>Play with Options</h2>
  <app-modal-form></app-modal-form>
</div>
